################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

.git/
.vs/
.nuget/
Packages/
Bin/
Obj/
PublishProfiles/


*.suo
*.user
